@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.container {
  width: 1400px;
  height: 1140px;
  background-color: #d3c6c6;
  margin: 0 auto;
  padding-top: 10px; }

.calculator {
  width: 600px;
  height: 800px;
  margin: 0 auto;
  border: 10px solid black;
  border-radius: 30px;
  padding: 20px 20px 20px 20px;
  background-color: #646464; }
  .calculator__screen-input {
    width: 420px;
    height: 100px;
    font-size: 50px;
    border: 4px solid gray;
    border-radius: 10px;
    padding: 0px 0px 0px 20px; }
  .calculator__buttons-reset {
    width: 400px;
    height: 110px;
    background-color: gray;
    border: 4px solid black;
    font-size: 60px;
    color: white;
    padding-top: 22px;
    text-align: center;
    font-weight: 700;
    display: block;
    border-radius: 12px; }
  .calculator__buttons {
    width: 100%;
    height: 81%;
    margin: 10px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .calculator__buttons_body_reset {
      width: 410px;
      height: 110px;
      background-color: #353535;
      border: 4px solid black;
      font-size: 60px;
      color: white;
      padding-top: 22px;
      text-align: center;
      font-weight: 700;
      border-radius: 12px; }
    .calculator__buttons_body_reset:hover {
      background-color: #575757; }
    .calculator__buttons_body_reset:active {
      background-color: #2a2a2a; }
    .calculator__buttons_body_0-9 {
      margin-top: 12px;
      width: 420px;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 140px 140px 120px;
      grid-template-columns: 140px 140px 120px;
      -ms-grid-rows: 120px 120px 120px;
      grid-template-rows: 120px 120px 120px; }
    .calculator__buttons .btn-num {
      width: 130px;
      height: 110px;
      background-color: gray;
      border: 4px solid black;
      font-size: 60px;
      padding-top: 22px;
      text-align: center;
      font-weight: 700;
      border-radius: 12px; }
    .calculator__buttons .btn-num:last-child {
      width: 270px;
      height: 111px; }
    .calculator__buttons .btn-num:hover {
      background-color: #9d9d9d; }
    .calculator__buttons .btn-num:active {
      background-color: #6a6a6a; }
    .calculator__buttons_signs {
      width: 120px;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 120px;
      grid-template-columns: 120px;
      -ms-grid-rows: 120px 120px 120px 120px 120px;
      grid-template-rows: 120px 120px 120px 120px 120px; }
  .calculator .sign {
    width: 112px;
    height: 110px;
    background-color: #e4e444;
    border: 4px solid black;
    font-size: 60px;
    padding-top: 18px;
    text-align: center;
    font-weight: 700;
    border-radius: 12px; }
  .calculator .sign:hover {
    background-color: #ffff8a; }
  .calculator .sign:active {
    background-color: #b2b237; }
  .calculator .sign:last-child {
    width: 252px;
    height: 111px;
    position: relative;
    left: -140px; }

.btn-num {
  width: 130px;
  height: 110px;
  background-color: gray;
  border: 4px solid black;
  font-size: 60px;
  padding-top: 22px;
  text-align: center;
  font-weight: 700;
  border-radius: 12px; }
